#body {
	background-color:rgb(239, 178, 55, 0.75);
}

#navbar{
	background-color:rgb(245, 245, 245, 1);
	font-family: Impact;
	
	font-size: 35px;
}

#navbar a{
	color: rgb(245, 166, 29);
}

#NavMenu{
	padding-left: 50px;
}

#NavOrder{
	padding-left: 30px;
}

#CategoriesSide{
	padding-left: 5px;
	padding-top: 30px;

}

#right{
	
}