
/* Desktop Mode (above 768px width) */
@media only screen and (min-width: 768px) {
	@import url(https://fonts.google.com/specimen/Annie+Use+Your+Telescope);

	*{
		box-sizing: border-box;
		scroll-behavior: smooth;
	}
	#body{
		background-color: rgb(255,255,255, 1);
	}

	.navbar{
		background-color: rgb(255, 255, 255, 1);
	}	
	
	#logo{
		height: 90px;
		width: 130px;
	}
	#left {
		padding-top: 35px; 
		padding-left: 150px;
		width: 20%;
	}

	#right {
		padding-left: 20px;
		padding-top: 5px;
		width: 80%;
	}

	#rightInsideRow{
		padding-top: 20px;
		padding-right: 0px;
	}
	#buttonRow{
		padding-top: 20px;
		/*padding-right: 35px;*/
		/*padding-left: 35px;*/
	}

	#DropDown{
		padding-top: 20px;
		padding-bottom: 20px;
	}

	#dish{
		border: 1px ;
		height: 300px;
		width: 300px;
	}

	#pricing{
		font-family: 'Annie Use Your Telescope', specimen;
		padding: 10px;
		font-size: 30px;
		border: 1px solid;
		line-height: 120%;
		height: 200px;
		width: 580px;
		padding-left: 20px;
	}

	#DishesCol{
		height: 720px;
	}

	#TotalPrice{
		font-size: 30px;
	}

	#Pay{
		height: 90px;
		width: 170px;
		font-size: 40px;
	}

	#Cancel{
		height: 90px;
		width: 170px;
		font-size: 40px;
	}
	.scrollit{
		overflow: auto;
		height: 650px;
		width: 100px;	
	}


	/* Desktop Mode (above 768px width) */
	@media only screen and (min-width: 768px) {
		.loginbox{
			background: rgba(3, 53, 132, 0.3);
			position:absolute;
			top:50% ;
			left:50%;
			box-sizing: border-box;
			padding:30px 30px;
			transform:translate(-50%, -50%);
		}

		.loginbox h1{
			text-align: center;
			font-size: 30px;
			font-family: verdana;
			font-weight: bold;
			color: white;
		}

		.loginbox p{
			font-weight:bold;
			margin:0;
			padding:0;
			color:white;
		}

		.loginbox input{
			width: 100%;
			margin-bottom: 5px;
			margin-top: 5px;
			background:transparent;
			outline:none;
			border:none;
			border-bottom: 1px solid white;
			color: white
		}

		.loginbox button{
			background-color:rgba(0, 63, 76, 0.5);
			font-weight: bold;
			border-radius:20px;
			border: none;
			outline: none;
			height: 50px;
			width: 130%;
			color: white;
			margin-top: 5px
		}

	}

}

/* Tablet Mode */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
}


/* Mobile Phone Mode */
@media only screen and (max-width: 479px) {
	