
/* Desktop Mode (above 768px width) */
@media only screen and (min-width: 768px) {
	@import url(https://fonts.google.com/specimen/Annie+Use+Your+Telescope);

	*{
		box-sizing: border-box;
		scroll-behavior: smooth;
	}
	#body{
		background-color: rgb(239, 178, 55, 1);
	}

	.navbar{
		background-color: rgb(255, 255, 255, 1);
	}

	#logo{
		height: 90px;
		width: 130px;
	}
	#left {
		padding-top: 35px;
		padding-left: 50px;
		width: 20%;
	}

	#center {
		padding-left: 20px;
		padding-top: 5px;
		width: 100%;
	}

	#centerInsideRow{
		padding-top: 25px;
		padding-right: 0px;
	}

	#right {
		padding-left: 20px;
		padding-top: 5px;
		width: 20%;
	}

	#rightInsideRow {
		padding-top: 25px;
		padding-right: 0px;
	}

	#buttonRow{
		padding-top: 20px;
		/*padding-right: 35px;*/
		/*padding-left: 35px;*/
	}

	#DropDown{
		padding-top: 20px;
		padding-bottom: 20px;
	}

	#dish{
		border: 1px ;
		height: 300px;
		width: 300px;
	}

	#pricing{
		font-family: 'Annie Use Your Telescope', specimen;
		padding: 10px;
		font-size: 24px;
		border: 1px solid;
		
		line-height: 120%;
		height: 300px;
		width: 580px;
		padding-left: 20px;
	}

	#DishesCol{
		height: 720px;
	}

	#TotalPrice{
		width: 100%;
	}

	#totalPriceText {
		font-size: 24px;
	}

	#orderPagePriceText {
		font-weight: normal;
		font-size: 24px;
	}

	#Pay{
		height: 90px;
		width: 170px;
		font-size: 40px;
	}

	#Cancel{
		height: 90px;
		width: 170px;
		font-size: 24px;
	}
	.scrollit{
		overflow: auto;
		height: 650px;
		width: 100px;
	}

	#itemText {
		font-family: Georgia, Helvetica, sans-serif;
		font-weight: bold;
	}

	#priceText {
		font-family: Georgia, Helvetica, sans-serif;
		font-weight: bold;
		padding-top: 20px;
		padding-bottom: 15px;
	}

	.quantityForm {
		padding-top: 15px;
		padding-bottom: 20px;
		width: 8%;
	}

	.loginbox{
		background: rgba(3, 53, 132, 0.3);
		position:absolute;
		top:50% ;
		left:50%;
		box-sizing: border-box;
		padding:30px 30px;
		transform:translate(-50%, -50%);
	}

	.loginbox h1{
		text-align: center;
		font-size: 30px;
		font-family: verdana;
		font-weight: bold;
		color: white;
	}

	.loginbox p{
		font-weight:bold;
		margin:0;
		padding:0;
		color:white;
	}

	.loginbox input{
		width: 100%;
		margin-bottom: 5px;
		margin-top: 5px;
		background:transparent;
		outline:none;
		border:none;
		border-bottom: 1px solid white;
		color: white
	}

	.loginbox button{
		background-color:rgba(0, 63, 76, 0.5);
		font-weight: bold;
		border-radius:20px;
		border: none;
		outline: none;
		height: 50px;
		width: 130%;
		color: white;
		margin-top: 5px
	}

	.ChangeMenuAvailability {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.7);
		/*transition: opacity 300ms; This is for fading out the popup box, left as an option */
		transition: opacity;
		/*visibility: hidden;*/
		display: hidden;
		opacity: 0;
		width: 200px;
		padding-left: 20px;
		height: 220px;
		font-size: 25px;
		line-height: 150%;
	}

	.ChangeMenuAvailability:target {
		visibility: visible;
		opacity: 1;
		overflow-y: scroll;
	}

	.ChangeMenuAvailability {
		margin: 10px auto; /*Margin around the popup box inside the 300px high item div */
		/* padding: 20px; All-around padding for the popup box inside the 300px high div */
		/*padding-left: 20px;
		padding-right: 20px;*/
		background: #fff;
		border-radius: 5px;
		width: 33.3%;
		position: relative;
		/* margin-bottom: -30%; Fills the entire right hand side of screen with popup box info (no space constaints) */
		/*transition: all 2s ease-in-out; This is for fading out the popup box, left as an option */
	}

	.ChangeMenuAvailability .close {
		position: absolute;
		top: 20px;
		right: 30px;
		/*transition: all 200ms; This is for fading out the popup box, left as an option */
		font-size: 40px;
		font-weight: bold;
		text-decoration: none;
		color: #333;
	}

	.ChangeMenuAvailability .close:hover {
		color: #06D85F;
	}

	.ChangeMenuAvailability .content {
		max-height: 100%;
		overflow: scroll;
	}

	.overlay {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.7);
		/*transition: opacity 300ms; This is for fading out the popup box, left as an option */
		transition: opacity;
		/*visibility: hidden;*/
		display: hidden;
		opacity: 0;
		width: 100%;
		padding-left: 20px;
		height: 280px;
	}

	.overlay:target {
		visibility: visible;
		opacity: 1;
		overflow-y: scroll;
	}

	.overlay {
		margin: 10px auto; /*Margin around the popup box inside the 300px high item div */
		/* padding: 20px; All-around padding for the popup box inside the 300px high div */
		/*padding-left: 20px;
		padding-right: 20px;*/
		background: #fff;
		border-radius: 5px;
		width: 33.3%;
		position: relative;
		/* margin-bottom: -30%; Fills the entire right hand side of screen with popup box info (no space constaints) */
		/*transition: all 2s ease-in-out; This is for fading out the popup box, left as an option */
	}

	.overlay .close {
		position: absolute;
		top: 20px;
		right: 30px;
		/*transition: all 200ms; This is for fading out the popup box, left as an option */
		font-size: 30px;
		font-weight: bold;
		text-decoration: none;
		color: #333;
	}

	.overlay .close:hover {
		color: #06D85F;
	}

	.overlay .content {
		max-height: 100%;
		overflow: scroll;
	}

	.overlayAssistance {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.7);
		/*transition: opacity 300ms; This is for fading out the popup box, left as an option */
		transition: opacity;
		/*visibility: hidden;*/
		display: hidden;
		opacity: 0;
		width: 100%;
		padding-left: 20px;
		height: 280px;
	}

	.overlayAssistance:target {
		visibility: visible;
		opacity: 1;
		overflow-y: scroll;
		transform: translateY(-30%);
		width: 30%;
		height: 60%;
		padding: 10px;
	}

	.overlayAssistance {
		margin: 10px auto; /*Margin around the popup box inside the 300px high item div */
		/* padding: 20px; All-around padding for the popup box inside the 300px high div */
		/*padding-left: 20px;
		padding-right: 20px;*/
		background: #fff;
		border-radius: 5px;
		/*width: 33.3%;*/
		width: 100%;
		position: relative;
		/* margin-bottom: -30%; Fills the entire right hand side of screen with popup box info (no space constaints) */
		/*transition: all 2s ease-in-out; This is for fading out the popup box, left as an option */
	}

	.overlayAssistance .close {
		position: absolute;
		top: 20px;
		right: 30px;
		/*transition: all 200ms; This is for fading out the popup box, left as an option */
		font-size: 30px;
		font-weight: bold;
		text-decoration: none;
		color: #333;
	}

	.overlayAssistance .close:hover {
		color: #06D85F;
	}

	.overlayAssistance .content {
		max-height: 100%;
		overflow: scroll;
	}

	.basketOverlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.7);
		/*transition: opacity 300ms; This is for fading out the popup box, left as an option */
		transition: opacity;
		/*visibility: hidden;*/
		display: hidden;
		opacity: 0;
		width: 100%;
		padding-left: 20px;
		height: 280px;
	}

	.basketOverlay:target {
		position: absolute;
		visibility: visible;
		opacity: 1;
		overflow-y: scroll;
		/*transform: translateY(-30%);*/
		width: 300px;
		height: 180px;
		padding-top: 10px;
		padding-bottom: 20px;
		transform: translateY(150%);
	}

	.basketOverlay {
		margin: 10px auto; /*Margin around the popup box inside the 300px high item div */
		/* padding: 20px; All-around padding for the popup box inside the 300px high div */
		/*padding-left: 20px;
		padding-right: 20px;*/
		background: #fff;
		border-radius: 5px;
		/*width: 33.3%;*/
		width: 100%;
		position: absolute;
		/* margin-bottom: -30%; Fills the entire right hand side of screen with popup box info (no space constaints) */
		/*transition: all 2s ease-in-out; This is for fading out the popup box, left as an option */
	}

	.basketOverlay .close {
		position: absolute;
		right: 10px;
		/*transition: all 200ms; This is for fading out the popup box, left as an option */
		font-size: 30px;
		font-weight: bold;
		text-decoration: none;
		color: #333;
	}

	.basketOverlay .close:hover {
		color: #06D85F;
	}

	.basketOverlay .content {
		max-height: 100%;
		overflow: scroll;
	}

	.payAfterOverlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.7);
		/*transition: opacity 300ms; This is for fading out the popup box, left as an option */
		transition: opacity;
		/*visibility: hidden;*/
		display: hidden;
		opacity: 0;
		width: 100%;
		padding-left: 20px;
		height: 280px;
	}

	.payAfterOverlay:target {
		position: absolute;
		visibility: visible;
		opacity: 1;
		overflow-y: scroll;
		/*transform: translateY(-30%);*/
		width: 400px;
		height: 180px;
		padding-top: 10px;
		padding-bottom: 20px;
		transform: translateY(150%);
	}

	.payAfterOverlay {
		margin: 10px auto; /*Margin around the popup box inside the 300px high item div */
		/* padding: 20px; All-around padding for the popup box inside the 300px high div */
		/*padding-left: 20px;*/
		padding-right: 20px;
		background: #fff;
		border-radius: 5px;
		width: 100%;
		position: absolute;
	}

	.payAfterOverlay .close {
		position: absolute;
		right: 10px;
		/*transition: all 200ms; This is for fading out the popup box, left as an option */
		font-size: 30px;
		font-weight: bold;
		text-decoration: none;
		color: #333;
	}

	.payAfterOverlay .close:hover {
		color: #06D85F;
	}

	.payAfterOverlay .content {
		max-height: 100%;
		overflow: scroll;
	}

	/* ----- Styling for Payment Form Starts Here ----- */

	#frmStripePayment {
		max-width: 300px;
		padding: 25px;
		border: #D0D0D0 1px solid;
		border-radius: 4px;
		margin: 8% auto;
		width: 50%;
		position: static;
	}

	#frmStripePayment .field-row {
		margin-bottom: 20px;
	}

	#frmStripePayment div label {
		margin: 5px 0px 0px 5px;
		color: #49615d;
		width: auto;
	}

	.demoInputBox {
		padding: 10px;
		border: #d0d0d0 1px solid;
		border-radius: 4px;
		background-color: #FFF;
		width: 100%;
		margin-top: 5px;
		box-sizing:border-box;
	}

	.demoSelectBox {
		padding: 10px;
		border: #d0d0d0 1px solid;
		border-radius: 4px;
		background-color: #FFF;
		margin-top: 5px;
		height: 45px;

	}

	select.demoSelectBox {
		height: 45px;
		margin-right: 10px;
	}

	.error {
		background-color: #FF6600;
		padding: 8px 10px;
		border-radius: 4px;
		font-size: 0.9em;
	}

	.success {
		background-color: #c3c791;
		padding: 8px 10px;
		border-radius: 4px;
		font-size: 0.9em;
	}

	.info {
		font-size: .8em;
		color: #FF6600;
		letter-spacing: 2px;
		padding-left: 5px;
	}

	.btnAction {
		background-color: #586ada;
		padding: 10px 40px;
		color: #FFF;
		border: #5263cc 1px solid;
		border-radius: 4px;
		cursor:pointer;
	}

	.btnAction:focus {
		outline: none;
	}

	.column-right {
		margin-right: 6px;
	}

	.contact-row {
		display: inline-block;
	}

	.cvv-input {
		width: 60px;
	}

	#error-message {
		margin: auto;
		padding: 5px 25px;
		font-size: 18px;
		border-radius: 4px;
		line-height: 25px;
		color: #ca3e3e;
		border: #ca3e3e 1px solid;
		background-color: #ffffff;
		display: none;
		width: 350px;
	}

	#success-message {
		margin: auto;
		padding: 5px 25px;
		font-size: 18px;
		border-radius: 4px;
		line-height: 25px;
		color: #3da55d;
		border: #43b567 1px solid;
		background-color: #ffffff;
		width: 350px;

	}

	.display-none {
		display:none;
	}

	#response-container {
		padding: 40px 20px;
		width: 270px;
		text-align:center;
	}


	.ack-message {
		font-size: 1.5em;
		margin-bottom: 20px;
	}

	#response-container.success {
		border-top: #b0dad3 2px solid;
		background: #e9fdfa;
	}

	#response-container.error {
		border-top: #c3b4b4 2px solid;
		background: #f5e3e3;
	}

	.img-response {
		margin-bottom: 30px;
	}

	#loader {
		display: none;
	}

	#loader img {
		width: 45px;
		vertical-align: middle;
	}
	/* ----- Styling for Payment Form Ends Here ----- */

	#itemInformation {
		padding-top: 10px;
	}

	#descriptionText {
		/*padding-top: 10px;*/
		transform: translateY(15%);
	}

	#itemDescription {
		transform: translateY(-5px);
	}

	#ingredientsText {
		transform: translateY(-8px);
		/*padding-top: 10px; */
	}

	#itemIngredients {
		transform: translateY(-17px);
	}

	#allergenText {
		transform: translateY(-20px);
		/*padding-top: 10px;*/
	}

	#itemAllergens {
		transform: translateY(-28px);
	}

	#caloriesText {
		transform: translateY(-32px);
		/*padding-top: 10px;*/
	}

	#itemCalories {
		transform: translateY(-40px);
	}

	#noItems {
		margin-top: 25px;
	}

	#confirmationSubTitle {
		margin-top: 20px;
	}

	#removeYes {
		margin-top: 15px;
		margin-left: 20px;
		padding-left: 20px;
		padding-right: 20px;
		font-size: 18px;
		transform: translateX(30%);
	}

	#removeNo {
		margin-top: 15px;
		margin-left: 20px;
		padding-left: 20px;
		padding-right: 20px;
		font-size: 18px;
		transform: translateX(50%);
	}

	#cannotCancel {
		transform: translateY(50%);
	}
}

/* Tablet Mode */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}


/* Mobile Phone Mode */
@media only screen and (max-width: 479px) {

}
