
/* Desktop Mode (above 768px width) */
@media only screen and (min-width: 768px) {
	@import url(https://fonts.google.com/specimen/Annie+Use+Your+Telescope);

	*{
		box-sizing: border-box;
		scroll-behavior: smooth;
	}
	#body{
		background-color: rgb(255,255,255, 1);
	}

	.navbar{
		background-color: rgb(255, 255, 255, 1);
	}	

}
