#body {
	background-color: rgb(239, 178, 55, 1);

}

#navbar{
	background-color:rgb(245, 245, 245, 1);
	font-family: Impact;
}

#whole{
	background-color: rgb(239, 178, 55, 0.8);
}

#wholeInsideRow{
	padding-left: 5px;
	padding-top: 30px;

}

#row1{
	padding-left: 5px;
	padding-top: 30px;

}

#left{
	background-color: rgb(239, 178, 55, 0.75);
}

#right{
	background-color: rgb(239, 178, 55, 0.75);

}

#rightInsideRow{
	padding-right: 35px;
	padding-left: 35px;
}

#rightInsideRow2{
	padding-top: 170px;
	padding-right: 35px;
	padding-left: 35px;
}

#EmptySpace{
	height: 30px;
	width: 15px;
}

#dish{
	background-color: rgb(239, 178, 55, 0.75);
	border: 1px solid;
	height: 200px;
	width: 200px;
}

.scrollit{
	overflow: auto;
	height: 730px;
	width: 200px;	
}